* {
    margin: 0;
}

html, body {
    font-family: 'Lato';
    height: 100%;
}

.wrapper {
    background-color: #fdfdff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    position: relative;
    text-align: center;
}

.content {
    width: 20em;
    margin: 5em auto;
}

.spin {
    animation-name: b;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes b {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
    }
}

.ease {
    animation-name: a;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes a {
    0% {
        transform: translate(0);
    }
    60% {
        transform: translateY(12px);
    }
    100% {
        transform: translate(0);
    }
}

svg {
    position: absolute;
}

.red-square {
    top: 4%;
    left: 25%;
}

.yellow-line {
    top: 71%;
    left: 30%;
}

.blue-square-big {
    top: 20%;
    right: 29%;
}

.blue-circle {
    top: 70%;
    right: 8%;
}

.green-rectangle-big {
    top: 75%;
    right: 25%;
}

.yellow-circle {
    top: 62%;
    left: 14%;
}

.green-line {
    top: 23%;
    left: 8%;
}

.red-line {
    top: 14%;
    right: 10%;
}

.blue-square {
    top: 105%;
    left: 12%;
}

.green-rectangle {
    top: 90%;
    left: 26%;
}

.yellow-triangle {
    top: 100%;
    right: 17%;
}

#logo {
    width: 125px;
    height: 125px;
    padding-top: 1em;
}

h2 {
    padding: 0.6em;
    font-size: 1.2em;
    font-weight: 400;
}

#round-blue {
    background-color: #4482ED;
    color: #fff;
    font-size: 18px;
    padding: 0.8em 3em;
    margin-top: 3em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*Estilos da Página Registrar*/

.card {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 70%;
    margin: 2em auto;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#login-bg {
    padding: 3em;
    width: 45%;
}

#login-logo {
    width: 70px;
    filter: drop-shadow(0 8px 12px rgba(68, 130, 237,.4));
    margin: 1em 0.3em;
}

#login-form {
    padding: 2em 2em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.8em;
}

label {
    color: #777;
    font-size: .7em;
    font-weight: bold;
    padding-left: 3em;
    display: block;
    text-align: left;
}

input {
    border: none;
    border-bottom: 1px solid #999;
    font-size: 1.1em;
    margin: 0 0 2em 0;
    width: 80%;
    height: 25px;
    text-indent: 10px;
}

#button-registrar {
    background-color: #4482ED;
    background-image: linear-gradient(to right, #539BCB, #4582EC);
    border: none;
    border-radius: 26px;
    font-weight: bold;
    font-size: .74em;
    letter-spacing: 1px;
    color: #fff;
    padding: 12px 55px;
}

#login-text {
    color: #666;
    font-size: .9em;
    padding: 1em 0;
    
}